.consumed-row {
    background-color: green;
}

.expired-row {
    background-color: red;
}

.close-to-expire-row {
    background-color: yellow;
}

.nearly-expired-row {
    background-color: orange;
}

.filter-button {
    border: 1px solid;
}